.form_p {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: left;
    color: #000000;
}

.form_p2 {
    margin-left: 30px;
}

.form_title {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-left: 10px;
    font-size: 3rem;
    font-weight: 1000;
    justify-content: center;
    color: #000000;
}
.form_desc {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 1000;
    justify-content: center;
    color: #000000;
}

.form_background {
    background: black;
    width: 100%;
    height: 100%;
    margin: auto;
}

.form_wrapper {
    background: white;
    width: 66%;
    height: max-content;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}

.form_formWrapper {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_buttonWrap {
    width: 33%;
    margin: auto;
    margin-top: 33px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form_button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #ff008c;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
}

.question {
    margin-right: 100px;
}

.answer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}