.kanban {
    display: flex;
    align-items: flex-center;
    justify-content: center;

    &__section {
        width: 400px;
        background-color: #ff008c;
        padding: 10px;
        border-radius: 10px;

        &~& {
            margin-left: 10px;
        }

        &__title {
            font-size: 1.2rem;
            font-weight: 700;
            margin: 10px 0 20px;
            color: #ffffff;
        }

        &__content {
            &>*~* {
                margin-top: 10px;
            }
        }
    }
}

.label {
    display: flex;
    align-items: flex-start;
    background: #ff008c;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    color: #ffffff;
}

.background {
    background: black;
    width: 100%;
    height: 150%;
}

.kanban_wrapper {
    background: white;
    width: 66%;
    margin: auto;
    border-radius: 30px;
    border-style: none;
}

.kanban_buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.codeConventionWrapper {
    padding: 10px;
}

.codeConvention {
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    border: 5px solid #ff008c;
}

.textArea {
    width: 100%;
    height: 6.25em;
    border: none;
    resize: none;
}

.progressWrapper {
    margin-left: 10px;
    margin-right: 10px;
    border: 5px solid #ff008c;
    border-radius: 10px;
}

.progress {
    margin: auto;
}

.freespaceWrapper {
    padding: 10px;
}

.freespace {
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    border: 5px solid #ff008c;
}

.kanbanBoardWrapper {
    padding: 10px;
}

.progressLabelWrapper {
    margin-left: -10%;
}

.kanban_save_button_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.kanban_save_button {
    background-color: #adb5bd;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}

.kanban_save_button2 {
    background-color: #adb5bd;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}

.kanban_insert_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.kanban_insert {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    margin-top: 10px;
    background: white;
    padding: 0.5rem;
    font-size: 0.5rem;
    line-height: 1.5;
    color: black;

    &::placeholder {
        color: #a8a8a8;
    }

    flex: 1
}

.kanban_insert_button {
    // 기본 스타일 초기화
    width: 10%;
    background: none;
    outline: none;
    border: none;
    background: #868e96;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s background ease-in;

    &:hover {
        background: #adb5bd;
    }

    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.index_total1 {
    background: none;
    outline: none;
    border: none;
    background: #868e96;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    &:hover {
        background: #adb5bd;
    }
}

.index_total2 {
    background: none;
    outline: none;
    border: none;
    background: #E68037;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    &:hover {
        background: #adb5bd;
    }
}

.index_total3 {
    background: none;
    outline: none;
    border: none;
    background: #84AD58;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    &:hover {
        background: #adb5bd;
    }
}

.index_total4 {
    background: none;
    outline: none;
    border: none;
    background: #DF4845;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    &:hover {
        background: #adb5bd;
    }
}