.create_wrappter {
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 20px;
    width: 100%;
    display: block;
}

.form {
    border: 1px solid #7838c5;
    width: max-content;
    margin: auto;
}

.text {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: left;

}

.input {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    border: 1px solid #ffffff;
}

.teamMember {
    height: 20px;
    width: 40px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: black;
}

.teamBox0 {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    color: black;
}

.teamBox1 {
    width: max-content;
    padding: 10px;
    background-color: #E68037;
    border-radius: 10px;
    margin: 5px;
}

.teamBox2 {
    width: max-content;
    padding: 10px;
    background-color: #84AD58;
    border-radius: 10px;
    margin: 5px;
}

.teamBox3 {
    width: max-content;
    padding: 10px;
    background-color: #DF4845;
    border-radius: 10px;
    margin: 5px;
}

.hackathonDesc {
    width: 300px;
    height: 150px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 10px;
}

.move {
    background-color: #FF008C;
    width: 160px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 160px;
}

.img-preview {
    display: flex;
    align-items: center;
    justify-content: center;
}