
.loginregister {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
}
.form{
    border: 1px solid #ffffff;
    padding: 20px;
}
.login_title{

    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    
}
.register_title{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    
}
.loginregister__input {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.loginregister__desc {
    width: 300px;
    height: 150px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 10px;
}
.loginregister__sex {
    color: #ffffff;
    font-size: 20px;
}
.loginregister__button {
    background-color: rgb(248, 47, 98);
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 100%;
    border-radius: 40px;
    height: 48px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.moveRegister{
    background-color: #7838C5;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 700;
    width: 100%;
    height: 48px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}