.management_wrap {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: black;
    margin-top: 10px;
}

.management_board {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    background-color: black;
}

.management_box {
    margin: auto;
    border: 1px solid #ffffff;
    width: 300px;
    height: 400px;
    margin-left: 20px;
    float: left;
}

.management_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    background-color: black;
    color: #ffffff;
    width: 100%;
    height: max-content;
}

.management_linkStyle {
    text-decoration: none;
}

.management_buttonWrap {
    margin-top: 30px;
}

.management_pageButton {
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    height: 30px;
    color: #ffffff;
    background: #84ad58;
}

.management_currentPage {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.management_button {
    background: none;
    outline: none;
    border: none;
    background: #868e96;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    border-radius: 10px;

    &:hover {
        background: #adb5bd;
    }
}