.content{
    position:absolute;top:52px;bottom:0px;overflow-x:hidden; color:white;
}
.tabBox{
    position:relative;width:100vw;height:50px;border-bottom:1px solid #DDD; color:white;
}
.tabList{
    display:table;
    width:100vw;
    table-layout:auto;
    color:white;
}
.tabList li{
    display:inline-block;text-align:center;color:white;
}
.tabList li a{
    display:block;color:#000;font-size:1.6rem;line-height:48px;color:white;
}
.tabList li a span{
    display:inline-block;padding:0px 8px;color:white;
}
.tabList li a.on span{
    border-bottom:2px solid #000;font-weight:700;color:white;
}